.culture{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 50px;

    img{
        text-align: center;
        width: 50%;
        margin: auto;
    }
}