#contact-container {
  display: flex;
  width: 100%;
  flex-grow: 1;


  .contact-texte {
    padding: 20px;
    width: 50%;
    margin: auto;

    .contact-titre {
      position: static;
      margin: auto;
      width: 100%;
      box-shadow: inset 0px -10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0), inset 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0)
    }
    p {
        padding: 20px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    margin: 30px auto;
    border: 2px solid green;
    width: 30%;

    label {
      font-size: 20px;
      color: green;
    }
    input {
      padding: 10px;
      width: 100%;
    }
    textarea {
      padding: 10px;
      width: 100%;
    }
    input[type="submit"] {
      margin-top: 10px;

      &:hover {
        color: green;
      }
    }
  }
}
